/** @format */

:root {
	--china-rose: #a24b68ff;
	--dark-byzantium: #53294cff;
	--russian-violet: #411462ff;
	--dark-violet: #9016d2ff;
	--purpureus: #924cacff;
	--violet-blue: #3b4ebaff;
	--oxford-blue: #121e41ff;
	--space-cadet: #1a183fff;
}
