/** @format */

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
	--china-rose: #a24b68;
	--dark-byzantium: #53294c;
	--russian-violet: #411462;
	--dark-violet: #9016d2;
	--purpureus: #924cac;
	--violet-blue: #3b4eba;
	--oxford-blue: #121e41;
	--space-cadet: #1a183f;
	--light-gray: #fefefe;
	--dark-gray: #777777;
}

/* Start: General */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background: var(--space-cadet);
	background: -webkit-linear-gradient(top left, var(--space-cadet), var(--russian-violet));
	background: -moz-linear-gradient(top left, var(--space-cadet), var(--russian-violet));
	background: linear-gradient(to bottom right, var(--space-cadet), var(--russian-violet));
	overflow: hidden;
	font-family: "Josefin Sans", sans-serif;
}

.disable-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* End: General */

/* Navbar */
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	position: fixed;
	top: 0;
	background: linear-gradient(to bottom right, var(--space-cadet), var(--russian-violet)) no-repeat center fixed;
	background-size: cover;
	box-shadow: 0px 1px 2px var(--purpureus);
	z-index: 99999;
}

/* --Hamburger */
.ham {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	flex: 0 0 auto;
}

.hamRotate.active {
	transform: rotate(45deg);
}

.line {
	fill: none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke: var(--light-gray);
	stroke-width: 5.5;
	stroke-linecap: round;
}

.ham4 .top {
	stroke-dasharray: 40 121;
}
.ham4 .bottom {
	stroke-dasharray: 40 121;
}
.ham4.active .top {
	stroke-dashoffset: -68px;
}
.ham4.active .bottom {
	stroke-dashoffset: -68px;
}

/* --Date */
.display-date {
	flex: 0 0 auto;
	color: var(--light-gray);
	font-size: 1.55em;
	font-weight: 700;
	transition: font-size 250ms ease-out, opacity 150ms ease-in-out;
}

.display-date.fade-out {
	font-size: 0;
	opacity: 0;
}

/* --Search Button */
.search-box {
	position: relative;
	cursor: pointer;
	margin: 10px 10px;
	/* right: 0; */
	/* top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
}

.input {
	padding: 10px;
	width: 50px;
	height: 50px;
	background: none;
	border: 2px solid var(--light-gray);
	border-radius: 10px;
	/* font-family: Comic Sans MS; */
	font-size: 26px;
	color: var(--light-gray);
	outline: none;
	transition: 0.5s;
	cursor: pointer;
	caret-color: transparent;
}

.search-box.active input {
	caret-color: var(--purpureus);
	cursor: text;
	width: 280px;
	background: var(--space-cadet);
	border-radius: 15px;
}

.search-box i {
	position: absolute;
	top: 50%;
	left: 50%;
	/* right: 15px; */
	transform: translate(-50%, -50%);
	font-size: 22px;
	color: var(--purpureus);
	transition: 0.2s;
}

.search-box.active i {
	opacity: 0;
	z-index: -1;
}

/* Container for Sidebar and Main */
.container {
	margin-top: var(--nav-height);
	margin-bottom: 1em;
	min-height: calc(100vh - var(--nav-height));
}

/* Sidebar */

aside {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: calc(100vh - var(--nav-height));
	min-height: calc(100vh - var(--nav-height));
	padding: 1.5em;
	overflow-y: auto;

	background: linear-gradient(to bottom right, var(--space-cadet), var(--russian-violet)) no-repeat center fixed;
	background-size: cover;

	color: var(--light-gray);
	transform: translateX(-100%);
	opacity: 0;
	transition: transform 250ms ease-in-out, opacity 250ms ease-out;
}

aside.active {
	transform: translateX(0);
	opacity: 100%;
}

aside section {
	margin-bottom: 1.5em;
}

aside h2 {
	color: var(--light-gray);
	font-size: 1.5em;
	margin-bottom: 0.5em;
}

aside li {
	display: inline-block;
	padding: 0.35em 0.4em 0.2em;
	margin-right: 0.4em;
	margin-bottom: 0.4em;
	cursor: pointer;

	font-size: 1.3em;
	color: var(--dark-byzantium);

	border: 2px solid var(--dark-byzantium);
	border-radius: 10px;

	background-color: var(--space-cadet);

	transition: all 250ms ease-out;
}

aside li.active {
	color: var(--china-rose);
	border: 2px solid var(--china-rose);
	background-color: var(--oxford-blue);
}

aside li::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 0.9em;
	color: var(--dark-gray);
	margin-right: 5px;
}

aside li.active::before {
	color: var(--light-gray);
}

aside li.category::before {
	content: "\f292";
}

aside li.day::before {
	content: "\f783";
}

aside li.week::before {
	content: "\f784";
}

aside li.month::before {
	content: "\f133";
}

/* -Language Switch */

.locale-select {
	text-align: center;
}

aside .btn {
	border: 3px solid var(--light-gray);
	display: inline-block;
	padding: 10px;
	position: relative;
	text-align: center;
	transition: background 600ms ease, color 600ms ease;
}

input[type="radio"].toggle {
	display: none;
}

input[type="radio"].toggle + label {
	cursor: pointer;
	min-width: 60px;
	text-transform: uppercase;
}

input[type="radio"].toggle + label:hover {
	background: none;
	color: var(--light-gray);
}

input[type="radio"].toggle + label:after {
	background: var(--light-gray);
	content: "";
	height: 100%;
	position: absolute;
	top: 0;
	transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
	width: 100%;
	z-index: -1;
}

input[type="radio"].toggle.toggle-en + label {
	border-right: 0;
}

input[type="radio"].toggle.toggle-en + label:after {
	left: 100%;
}

input[type="radio"].toggle.toggle-tr + label:after {
	left: -100%;
}

input[type="radio"].toggle:checked + label {
	cursor: default;
	color: var(--china-rose);
	transition: color 200ms;
}

input[type="radio"].toggle:checked + label:after {
	left: 0;
}
