/** @format */

:root {
	--china-rose: #a24b68;
	--dark-byzantium: #53294c;
	--russian-violet: #411462;
	--dark-violet: #9016d2;
	--purpureus: #924cac;
	--violet-blue: #3b4eba;
	--oxford-blue: #121e41;
	--space-cadet: #1a183f;
	--light-gray: #fefefe;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(to bottom, var(--dark-violet), var(--space-cadet));
	background-repeat: no-repeat;
	background: var(--space-cadet);
	background: -webkit-linear-gradient(top left, var(--space-cadet), var(--russian-violet));
	background: -moz-linear-gradient(top left, var(--space-cadet), var(--russian-violet));
	background: linear-gradient(to bottom right, var(--space-cadet), var(--russian-violet));
	overflow: hidden;
}

/* Navbar */
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	position: fixed;
	top: 0;
	background: linear-gradient(to bottom right, var(--space-cadet), var(--russian-violet)) no-repeat center fixed;
	background-size: cover;
	box-shadow: 0px 1px 2px var(--purpureus);
	z-index: 99999;
}

/* --Hamburger */
.ham {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	flex: 0 0 auto;
}

.hamRotate.active {
	transform: rotate(45deg);
}

.line {
	fill: none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke: var(--light-gray);
	stroke-width: 5.5;
	stroke-linecap: round;
}

.ham4 .top {
	stroke-dasharray: 40 121;
}
.ham4 .bottom {
	stroke-dasharray: 40 121;
}
.ham4.active .top {
	stroke-dashoffset: -68px;
}
.ham4.active .bottom {
	stroke-dashoffset: -68px;
}

/* --Date */
.display-date {
	color: var(--light-gray);
	font-size: 1.2em;
	font-weight: 700;
	transition: font-size 250ms ease-out, opacity 150ms ease-in-out;
}

.display-date.fade-out {
	font-size: 0;
	opacity: 0;
}

/* --Search Button */
.search-box {
	position: relative;
	cursor: pointer;
	margin: 10px 10px;
	/* right: 0; */
	/* top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
}

.input {
	padding: 10px;
	width: 50px;
	height: 50px;
	background: none;
	border: 2px solid var(--light-gray);
	border-radius: 10px;
	/* font-family: Comic Sans MS; */
	font-size: 26px;
	color: var(--light-gray);
	outline: none;
	transition: 0.5s;
	cursor: pointer;
	caret-color: transparent;
}

.search-box.active input {
	caret-color: var(--purpureus);
	cursor: text;
	width: 280px;
	background: var(--space-cadet);
	border-radius: 15px;
}

.search-box i {
	position: absolute;
	top: 50%;
	left: 50%;
	/* right: 15px; */
	transform: translate(-50%, -50%);
	font-size: 22px;
	color: var(--purpureus);
	transition: 0.2s;
}

.search-box.active i {
	opacity: 0;
	z-index: -1;
}

/* Container for Sidebar and Main */
.container {
	margin-top: var(--nav-height);
	margin-bottom: 1em;
	min-height: calc(100vh - var(--nav-height));
}

/* Sidebar */

aside {
	max-height: calc(100vh - var(--nav-height));
	min-height: calc(99vh - var(--nav-height));
	display: flex;
	flex-direction: column;
	padding: 20px;
	overflow-y: auto;

	background: linear-gradient(to bottom right, var(--space-cadet), var(--russian-violet)) no-repeat center fixed;
	background-size: cover;

	color: var(--light-gray);
	transform: translateX(-100%);
	opacity: 0;
	transition: transform 250ms ease-in-out, opacity 250ms ease-out;
}

aside.active {
	transform: translateX(0);
	opacity: 100%;
}

aside section {
	margin-bottom: 20px;
}

aside h2 {
	font-size: 1.8em;
	margin-bottom: 0.5em;
}

aside li {
	display: inline-block;
	padding: 0.2em 0.4em;
	margin-right: 0.4em;
	margin-bottom: 0.4em;
	cursor: pointer;

	font-size: 1.2em;
	color: var(--china-rose);

	background-color: var(--oxford-blue);

	border: 2px solid var(--china-rose);
	border-radius: 10px;
}

aside li::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 0.8em;
	color: var(--light-gray);
	margin-right: 5px;
}

aside li.category::before {
	content: "\f292";
}

aside li.day::before {
	content: "\f783";
}

aside li.week::before {
	content: "\f784";
}

aside li.month::before {
	content: "\f133";
}
